{
    "env": {
        "commonjs": true,
        "es2020": true,
        "node": true,
    },
    "parserOptions": {
        "sourceType": "module",
        "ecmaVersion": 11
    },
    "globals": {
        "Promise": true,
        "Symbol": true
    },
    "plugins": [],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "no-console": 0,
        "no-debugger": 1,
        // require the use of === and !==
        "eqeqeq": "warn"
    }
}
